*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #F5DEB3;
    color: #8B4513;
}
h1{
    text-align: center;
    margin-top: 20px;
}
#menu{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;
}
#menu a img{
    float: left;
}
#pongd{
    display: block;
    margin: auto;

    margin-top: 20px;
}
ul ,ol{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
}